#scoreboard{
    height: 15vh;
    width:100%;
    position: fixed;
    top: 0;
    text-align: center;
    justify-items: center;
    align-items: center
}
#scoreboard>p{
    margin: auto;
    font-size: 2rem
}
#scoreCounters>span{
    padding-left: 2rem
}